extends ../layout/app

block content
    main(class="max-w-5xl mx-auto mt-5 grid grid-cols-3 gap-5 items-center")
        img(src="/img/nosotros.jpg", class="col-span-1", alt="Nosotros")
        div(class="col-span-2")
            h1 #{page}
            blockquote blandit orci id volutpat commodo. Ut faucibus nisl sed dolor tempor, ut convallis ipsum sodales. Sed facilisis, augue nec tristique viverra, eros mauris condimentum libero, luctus vestibulum est erat dictum dolor. Vivamus volutpat arcu eget vestibulum aliquam. Integer auctor cursus dui, consectetur aliquet nunc convallis lobortis. Suspendisse quis lacus.
            p eu purus velit. Nulla pretium eget elit ac elementum. Mauris blandit ut dolor vitae dictum. Phasellus tempus odio quis dui maximus, at consequat velit malesuada. Nam efficitur pharetra libero, quis malesuada nisl blandit ac. Pellentesque vel felis posuere, mollis lectus id, finibus lectus. Sed eu nulla dictum, lobortis dui id, consequat quam.
            p faucibus massa lacus, in pretium arcu posuere in. Donec id sapien nisi. Donec non tellus bibendum, rutrum urna sed, auctor sem. Duis condimentum dapibus venenatis. Sed neque dui, semper a felis et, cursus fringilla turpis. Pellentesque facilisis dictum metus, id consequat augue posuere id. Mauris vulputate lorem eget tempor blandit. Nunc tempus, lorem vitae egestas.
    
    .listado-iconos
        div(class="max-w-5xl mx-auto w-auto mt-5 text-center")
            div(class="grid grid-cols-3 gap-5 text-center")
                div.my-5
                    img.mx-auto(src="/img/icono_seguridad.svg", alt="Icono seguridad")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, tempora suscipit maxime consequatur nemo est optio minima incidunt mollitia esse soluta fugit corrupti voluptate temporibus laudantium impedit deleniti sequi vitae.
                div.my-5
                    img.mx-auto(src="/img/icono_destinos.svg", alt="Icono seguridad")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, tempora suscipit maxime consequatur nemo est optio minima incidunt mollitia esse soluta fugit corrupti voluptate temporibus laudantium impedit deleniti sequi vitae.
                div.my-5
                    img.mx-auto(src="/img/icono_precios.svg", alt="Icono seguridad")
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, tempora suscipit maxime consequatur nemo est optio minima incidunt mollitia esse soluta fugit corrupti voluptate temporibus laudantium impedit deleniti sequi vitae.
