footer 
    div(class="max-w-5xl mx-auto flex flex-col md:flex-row items-center justify-between p-4 mt-5")
        nav(class="flex gap-4 mt-4 md:mt-0")
                a(href="/about" class="nav-link") Nosotros
                a(href="/travels" class="nav-link") Viajes
                a(href="/testimonials" class="nav-link") Testimoniales
        p.copyright.text-center Todos los derechos reservados #{year}

            