header
    .navegacion
        div(class="max-w-5xl mx-auto flex flex-col md:flex-row items-center justify-between p-4")
            a(href="/") 
                img(src="/img/logo.svg" alt="Logo" class="w-40")

            nav(class="flex gap-4 mt-4 md:mt-0")
                a(href="/about" class="nav-link") Nosotros
                a(href="/travels" class="nav-link") Viajes
                a(href="/testimonials/create" class="nav-link") Testimoniales